/* src/styles/MainContent.css */
.main-content {
  padding: 3rem;
  background-color: #1e1e28;
  color: #ffffff;
  margin-top: 20px; /* Adjust this value based on the height of the header */
  width: 100%;
  box-sizing: border-box;
}

.main-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #ffcc00;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

.main-content p {
  font-size: 1.1rem;
  color: #b3b3b3;
}

.main-content section {
  margin-bottom: 3rem;
}

.project-card {
  background-color: #2b2b36;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.project-card h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 0.8rem;
}

.project-card p {
  color: #b3b3b3;
}

.project-card:hover {
  transform: scale(1.05);
}

#contact p {
  font-size: 1.1rem;
  color: #ffffff;
}